<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <commands>
            <command name="syncitems:syncdb"
                   type="Sitecore.Foundation.SyncItems.Commands.SyncDatabaseItems , Sitecore.Foundation.SyncItems"/>
            <command name="syncitems:syncsitecore"
                   type="Sitecore.Foundation.SyncItems.Commands.SyncSitecoreFromDB , Sitecore.Foundation.SyncItems"/>
        </commands>
        <settings>
            <setting name="SyncSettingsFolder" value="{FA9C9825-B961-4200-A9FB-FE59886E607F}" />
            <setting name="LinkTemplateId" value="{5F8DB376-542E-4768-BF48-23E9A8C5C79E}" />
            <setting name="SyncedItemsRoot" value="{0C2956A9-F692-44B4-8E9B-CD9E709415D8}" />
            <setting name="CategoryTypesFolder" value="{50C7A608-61A0-4BC9-B9B4-1CAEFA1AB40A}" />
            <setting name="FoodTypesFolder" value="{B2E4A790-E954-467B-B379-02BE811ED96B}" />
            <setting name="ProductsFolder" value="{28159B1D-B937-40BA-9295-20E18F37B583}" />
            <setting name="TaxTypesFolder" value="{CB485E32-D53E-497E-B087-DDD26A24476E}" />
            <setting name="TaxTemplate" value="{CC70FE6D-9CF9-41B0-A5C7-3C947A748EB8}" />
            <setting name="CategoryTemplate" value="{5DCBADAF-605C-40AE-BF69-3FAF9A9B4450}" />
            <setting name="FoodTypeTemplate" value="{ACE30B66-4AF7-4AFA-AFA8-6C70128080C8}" />
            <setting name="ProductTemplate" value="{544C7156-4AA4-4FCB-9D59-7809877C817E}" />
        </settings>
        <pipelines>
            <SyncData.SyncDBFromApi>
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncDBFromApi.ReadDataFromApi,Sitecore.Foundation.SyncItems" resolve="true" />
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncDBFromApi.WriteDataToDB,Sitecore.Foundation.SyncItems" resolve="true" />
            </SyncData.SyncDBFromApi>
            <syncData.SyncSitecoreFromDB>
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncSitecoreFromDB.SyncTaxData,Sitecore.Foundation.SyncItems" resolve="true" />
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncSitecoreFromDB.SyncCategories,Sitecore.Foundation.SyncItems" resolve="true" />
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncSitecoreFromDB.SyncFoodTypes,Sitecore.Foundation.SyncItems" resolve="true" />
                <processor type="Sitecore.Foundation.SyncItems.Pipelines.SyncSitecoreFromDB.SyncProducts,Sitecore.Foundation.SyncItems" resolve="true" />
            </syncData.SyncSitecoreFromDB>
        </pipelines>
    </sitecore>
</configuration>
