<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.SyncData" description="Sync Data Templates and folders" extends ="Helix.Base">
                    <predicate>

                        <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
                        <!-- Settings -->
                        <include name="Link.Template" database="master" path="/sitecore/templates/User Defined/Link Template"/>
                        <include name="Category.Template" database="master" path="/sitecore/templates/User Defined/Category"/>
                        <include name="FoodType.Template" database="master" path="/sitecore/templates/User Defined/Food Type"/>
                        <include name="Product.Template" database="master" path="/sitecore/templates/User Defined/Product"/>
                        <include name="Tax.Template" database="master" path="/sitecore/templates/User Defined/Tax" />
                        <include name="sync.settings" database="master" path="/sitecore/content/Home/Sync Settings" />
                        <include name="sync.Items" database="master" path="/sitecore/content/Home/Synced Items" >
                            <exclude path="/sitecore/content/Home/Synced Items/CategoryTypes/" />
                            <exclude path="/sitecore/content/Home/Synced Items/FoodTypes/" />
                            <exclude path="/sitecore/content/Home/Synced Items/Products/" />
                            <exclude path="/sitecore/content/Home/Synced Items/TaxTypes/" />
                        </include>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
